.main-page{
    width: 80%;
    height: 613px;
    top: 152px;
    left: 157px;
    gap: 0px;
    opacity: 0px;
    margin-left: 18%;
    margin-right: 11%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    

}
.main-page-left{
    width: 50%;
    height: 613px;
    gap: 36px;
    opacity: 0px;



}
.main-page-right{
    width: 50%;
    height: 487.06px;
    gap: 0px;
    opacity: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    
    margin-left: -200px;
}
h1{
    font-family: Poppins;
    font-size: 108px;
    font-weight: 800;
    line-height: 102px;
    
    width: 86%;
    height: 306px;
    gap: 0px;
    opacity: 0px;
    margin-top: 0px;
    margin-left: 0px;
    text-align: left;
}
p{
    color: #5A5959;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 454px;
    height: 91px;
    gap: 0px;
    opacity: 0px;
    margin-top: -45px;
    margin-left: 0px;
}
.btn{
    width: 331px;
    height: 41px;
    gap: 40px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
} 
.btn1{
    width: 150px;
    height:  41px;
    padding: 6px 16px 6px 16px;
    gap: 10px;
    opacity: 0px;
    background: #D01C28;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    color: #fff;
}
.btn2{
    width: 141px;
    height:  41px;
    padding: 6px 16px 6px 16px;
    gap: 10px;
    opacity: 0px;
    border: 1px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    color:#5A5959;
}
.shoes{
    width: 830px;
    height: 487.06px;
    gap: 0px;
    opacity: 0px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);

    margin-left: -400px;




}
h6{
    width: 131px;
    height: 19px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #5A5959;

}
.social-media{
    width:131px;
    height: 67px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    flex-direction: row;

}  
.social-media img{
    width: 32px;
height: 32px;
gap: 0px;
opacity: 0px;
margin: 2px;
margin-top: -10px;

}
