.nav-section{
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    height: 72px;
    gap: 0px;
    opacity: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: 15px;
   padding: 15px;
    margin-left: 25px;
    margin-right: 25px;
}
img{
    width: 76px;
    height: 42.75px;
    top: 15px;
    left: 85px;
    gap: 0px;
    opacity: 0px;
    margin-left:45px;
}

.lists{
    width:453px;
    height:24px;
    top: 24px;
    left: 553px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  margin-left: -150px;
} 
.buttons{
    width: 75px;
    height: 31px;
    top: 21px;
    left: 1286px;
    padding: 6px 16px 6px 16px;
    gap: 10px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    background: #D01C28;
    margin-right: -650px;
    margin-left: -950px;
    color: #fff;
} 
/* .login{
    width: 75px;
    height: 31px;
    top: 21px;
    left: 1286px;
    padding: 6px 16px 6px 16px;
    gap: 10px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    background: #D01C28;
    
}

 */
